# Ignore virtual environments
.env
.venv/
env/
venv*/

# Ignore Python cache and test coverage
.pytest_cache/
__pycache__/
*/__pycache__/*
*coverage*

# Other
.ruff_cache/
.vscode/
ai_dm_project.egg-info/
server_settings.db
file
todo*.md
notes.md
htmlcov/
*workspace*
.roomodes
.kiro

# Ignore logs and temp files
*.log
logs/
tmp/
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md