# Ignore virtual environments
.env
.venv/
env/
venv*/

# Ignore Python cache
.pytest_cache/
__pycache__/
*/__pycache__/*

# Other
.ruff_cache/
.vscode/
ai_dm_project.egg-info/
server_settings.db
file
todo.md
notes.md

# Ignore logs and temp files
*.log
logs/
tmp/